.section {
    width: calc(100vw - 420px);
    // background-color: #fff;
    margin-left: 350px;
    height: 100%;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .wrapper {
      width: 80%;

      
  
      .title{
          font-size: 50px;
          font-weight: 600;
      }
      .description {
          font-size: large;
      }
    }
  }
  